# v139 database foundation
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/printcore?schema=public"
# v146 external api proxy
EXTERNAL_API_BASE_URL="http://y46josgjr3wve61rhl5xwivq.13.61.22.39.sslip.io"
